* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h2 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h3 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h4 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
p {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  background: #fff;
}
.landing-page {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}
.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}
.logo_block {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 10px;
}
.logo {
  display: flex;
  width: 219.537px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 12.92px;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.burger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 90vw;
}

@media (max-width: 768px) {
  .nav_block {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .mobile-nav {
    display: flex;
  }
}

.button-nav {
  border-radius: 14px;
  border: 1px solid #191a23;
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
  gap: 10px;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
a {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.header_block {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.button-book {
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  background: #191a23;
  color: #fff;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  flex: 1;
  white-space: normal;
  word-wrap: break-word;
}
.block_2 {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logotypes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
}
.logos {
  mix-blend-mode: luminosity;
  flex-shrink: 0;
}

.subheading {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  p {
    margin-top: 0;
  }
}
.services {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    display: flex;
    margin-top: 0px;
    padding: 0px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    background: #b9ff66;
  }
}
.services_block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.card {
  display: flex;
  padding: 50px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  border: 1px solid #191a23;
  box-shadow: 0px 5px 0px 0px #191a23;
  flex-wrap: wrap;
}
.card_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.card_right {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}
.card_heading1 {
  margin: 0;
  border-radius: 7px;
  background: #b9ff66;
}
.card_heading2 {
  margin: 0;
  border-radius: 7px;
  background: #fff;
}
.card_link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 90px;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
a {
  text-decoration: none;
}
.card_color1 {
  background: #f3f3f3;
}
.card_color2 {
  background: #b9ff66;
}
.card_color3 {
  background: #191a23;
}
.text_white {
  color: #fff;
}
.block_3 {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.CTA {
  display: flex;
  width: 100%;
  align-items: center;
}
.card_2 {
  display: flex;
  padding: 0px 60px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 45px;
}
.card_right_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 45vw;
}
.block_4 {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.process_block {
  display: flex;
  width: 90vw;

  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.block_5 {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form_block {
  display: flex;
  width: 90vw;
  padding: 60px 0px 80px 0px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 45px;
  background: #f3f3f3;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  flex: 1;
  min-width: 250px;
}
.radio {
  display: flex;
  align-items: flex-start;
  width: 90%;
  gap: 35px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 90%;
  input {
    border-radius: 14px;
    border: 1px solid #000;
    background: #fff;
    display: flex;
    width: 100%;
    padding: 18px 30px;
    align-items: flex-start;
    gap: 10px;
  }
}
label {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

textarea {
  border-radius: 14px;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  width: 100%;
  height: 190px;
  padding: 18px 30px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.ilustration3 {
  display: flex;
  max-width: 100%;

  justify-content: flex-end;
}
.big_img {
  max-width: 100%;
}
.accordion {
  display: flex;
  width: 90vw;
  padding: 41px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 45px;
  border: 1px solid #191a23;
  background: #f3f3f3;
  box-shadow: 0px 5px 0px 0px #191a23;
}
.accordion_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.accordion_title {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.accordion_text {
  color: #000;
  margin: 0;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
  border-top: #000 solid 1px;
  padding-top: 30px;
}
.accordion.active .accordion_text {
  display: block;
}
.accordion_button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2 ease-in-out;
}
.accordion_button:hover {
  transform: scale(1.05);
}
.accordion_button .close {
  display: none;
}
.accordion.active .accordion_button .close {
  display: block;
}
.accordion.active .accordion_button .open {
  display: none;
}
.accordion.active {
  background-color: #b9ff66;
}
.accordion_heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.number {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 90vw;
}
.footer {
  display: flex;
  padding: 55px 60px 50px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  border-radius: 45px 45px 0px 0px;
  background: #191a23;
  flex-wrap: wrap;
}

.footer_bottom {
  display: flex;
  width: 100%;
  padding-top: 50px;
  gap: 50px;
  border-top: solid 2px gray;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  a {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
.footer_top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
}
.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  a {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
.footer_buttons {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}
.footer_social {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.footer_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.footer_left {
  display: flex;
  flex: 1;
  flex-direction: column;
  h4 {
    background: #b9ff66;
    border-radius: 7px;
    color: #000;
    margin-top: 0;
    padding: 0 10px 0 10px;
    max-width: max-content;
  }
  p {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.footer_right {
  display: flex;
  flex: 1;
  padding: 58px 40px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 14px;
  background: #292a32;
}
.subscribe_button {
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  background: #b9ff66;
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  white-space: normal;
  word-wrap: break-word;
}
.subscribe_email {
  width: 100%;
  padding: 22px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #fff;
  color: #fff;
  background: #292a32;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email_container {
  display: flex;
  flex: 1.5;
}
.button_container {
  display: flex;
  flex: 1;
}
.subscribe_email::placeholder {
  color: #fff;
}
.ilustration2 {
  max-width: 100%;

  height: auto;
}
.ilustration3_box {
  display: flex;
  flex: 1;
  min-width: 45vw;
  justify-content: flex-end;
}
